header {
    border: 2px solid rgb(123, 255, 0);
    min-height: 100px;
    height: auto;
}

main {
    border: 2px solid gray;
    min-height: 240px;
    height: auto;
}

footer {
    border: 2px solid blueviolet;
    min-height: 60px;
    height: auto;
}

#form {
    display: flex; 
    justify-content: space-between;
}

.formin {
    width: 45%;
    border: 2px solid blueviolet;
    background-color: aqua;
}